.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);

    &__card {
        height: 85%;
        background-color: #ffffff;
        width: 600px;
        border-radius: 8px;

        &__heading {
            font-family: 'Gloria Hallelujah';
            text-align: center;
            margin-top: 18px;
            font-size: 36px;
            color: var(--primary);
        }

        &__form {
            margin-top: 65px;
            display: flex;
            align-items: center;
            flex-flow: column;
            gap: 16px;

            &__error {
                color: #ea2f2f;
                font-size: 14px;
                font-weight: bold;
                height: 14px;
                text-align: right;
                width: 85%;
                margin-top: -4px;
            }
            &__inputs {
                display: flex;
                flex-flow: column;
                width: 85%;
                gap: 6px;

                &__for {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }
}

.highlight {
    color: var(--primary)
}