:root {
  --primary: rgb(54, 121, 255);
  --primary-dark: rgb(50, 107, 223);
  --primary-light: rgb(90, 142, 247);

  --danger: rgb(218, 48, 54);
  --danger-disabled: #d9696c;
  --danger-dark: rgba(218, 48, 54, 0.1);
  --danger-light: rgb(235, 38, 45);
}
