.body {
  display: flex;
  flex-flow: column;

  &__title {
    font-size: 20px;
    font-weight: 800;
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px;
    color: grey;
  }

  &__upload {
    margin: auto auto auto auto;
    background-color: var(--primary);
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    display: flex;
    gap: 5px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: var(--primary-dark);
    }

    * {
      margin: auto;
    }
  }

  &__image {
    margin: 20px auto auto auto;
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}
