.header {
  display: flex;
  margin: 0px 60px;
  height: 100px;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 40px;
  justify-content: space-between;

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;

    &__heading {
      cursor: pointer;
      font-family: 'Gloria Hallelujah';
      font-size: 32px;
      color: var(--primary);
    }
    &__actions {
      margin-left: auto;
      display: flex;
      gap: 10px;
      align-items: center;

      &__login {
        text-decoration: none;
        margin-right: 20px;
        color: var(--primary);
        font-weight: 600;
      }
    }

    &__avatar {
      margin: auto 0 auto auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      align-items: center;
      display: flex;
      background-color: rgb(57, 184, 108, 0.1);
      cursor: pointer;

      &:hover {
        background-color: rgb(57, 184, 108, 0.2);
        transition: all 0.2s;
      }

      span {
        margin: auto;
      }
    }
  }
}
